@import "ol/ol.css";
@import "tailwindcss";
@plugin '@tailwindcss/typography';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles/global.css */
:root {
    --mb-section: 2rem;
}
@media (min-width: 640px) {
    :root {
        --mb-section: 3rem;
    }
}
@media (min-width: 768px) {
    :root {
        --mb-section: 4rem;
    }
}
@media (min-width: 1024px) {
    :root {
        --mb-section: 5.5rem;
    }
}

.mb-section {
    margin-bottom: var(--mb-section, 1rem);
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: 100 900; /* Variable Font: alle Stärken */
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Italic-VariableFont_opsz,wght.ttf")
        format("truetype");
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
}
dialog[open] {
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    margin: 0 !important;
    padding: 0 !important;
    z-index: 50;
}
